elasticsearch/*
guacamole/*
heimdall/*
jenkins/*
ldap/*
logstash/*
mongo/*
portainer/*
traefik/*

!elasticsearch/.gitkeep
!guacamole/.gitkeep
!heimdall/.gitkeep
!jenkins/.gitkeep
!ldap/.gitkeep
!logstash/.gitkeep
!mongo/.gitkeep
!portainer/.gitkeep
!traefik/.gitkeep